uvicorn
fastapi
httpx
phonemizer
SoundFile
munch
pydub
pyyaml
librosa
nltk
matplotlib
accelerate
numpy==1.26.4
transformers==4.48.3
einops
einops-exts
tqdm
typing
typing-extensions
git+https://github.com/resemble-ai/monotonic_align.git
azure-storage-blob
